@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body{
    background-image: url('/src/assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
    height: 100vh;
}